.hero-wrapper {
    position: relative; 
    height: 40vh;
    width: 100%;
    color: var(--mainColor);
    margin: 0;
    z-index: 0;
    padding: 1rem;  
}

@media screen and (max-width: 1000px) {
    .hero-wrapper {
        height: 60vh;
    }
}
.toggle-container {
    display: flex;
    flex-direction: row;
}
.toggle-container h1 {
    font-family: var(--fontFamily-main);
    font-size: 1rem;
}
.hero-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-family: var(--fontFamily-main);
}

.hero-web, .hero-automation {
    position: relative;
    height: 100%;
    width: 50%; 
}
@media screen and (max-width: 1000px) {
    .hero-web, .hero-automation {
        width: 100%; 
    }
}
.phone-image {
    height: auto; 
    width: 100%;  
    transition: clip-path 0.5s ease, transform 0.5s ease;
}

.phone-image img {
    height: 100%; 
    width: 100%;
    object-fit: cover; 
}

@media screen and (max-width: 1000px) {
    .phone-image {
        width: 100%; 
    }
}

.phone-right {
    z-index: 0; 
    clip-path: inset(0 0 0 50%);
    transform: translateX(-50%);
}

.phone-left {
    z-index: 0; 
    clip-path: inset(0 50% 0 0);
    transform: translateX(50%);
}

.hero-text{
    position: relative;
    width: 50%;
    display: block;
    z-index: 10;
    height: 20%;
    margin: auto;
    top: 0;
    bottom: 0;
    font-size: var(--fontSizePhone);
}
.hero-text h3{
    text-transform: uppercase;
}
.hero-text p{
    text-align: left;
}
@media screen and (max-width: 1000px) {
    .hero-text{
        width: 70%;
    }
    .hero-text h3 { 
        top: 50%;
    }
}
.text-right {
    top: -50%;
    left: 20%;
}
.text-left {
    top: -50%;
    right: 20%;
}
@media screen and (max-width: 1000px) {
    .text-right {
        top: 0;
        left: 0;
    }
    .text-left {
        top: 0;
        left: 0;
    }
}
.hero-icon {
    height: 2rem;
    width: 2rem;
}
@media screen and (max-width: 1000px) {
    .hero-icon {
        height: 1.5rem;
        width: 1.5rem;
    }
}

