/* Services Component Wrapper */
.services {
    scroll-snap-align: center;
    background: linear-gradient(180deg, #0c0c1d, #111132);
    height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 2rem;
}
@media screen and (max-width: 1000px) {
    .services {
        height: 100%;
    }
}

/* Text Container */
.textContainer-services {
    flex: 1;
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
    padding: 0.5rem;
}
@media screen and (max-width: 1000px) {
    .textContainer-services {
        align-self: center;
        text-align: center;
        flex-direction: column;
    }
}
.textContainer-services p {
    font-weight: 200;
    font-size: 20px;
    color: gray;
    text-align: right;
}
.textContainer-services hr {
    width: 500px;
    border: none;
    border-top: 0.5px solid gray;
}
@media screen and (max-width: 1000px) {
    .textContainer-services hr {
        width: 300px;
    }
}

/* Title Container */
.titleContainer-services {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
}
@media screen and (max-width: 1000px) {
    .titleContainer-services {
        width: 100%;
    }
}
.title {
    display: flex;
    align-items: center;
    gap: 50px;
}
@media screen and (max-width: 1000px) {
    .title {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
}
.title img {
    width: 300px;
    height: 100px;
    border-radius: 20px;
}
@media screen and (max-width: 1000px) {
    .title img {
        width: 200px;
        height: 50px;
    }
}
.title h1 {
    font-size: 3rem;
    font-weight: 100;
}
@media screen and (max-width: 1000px) {
    .title h1 {
        font-size: 2rem;
    }
}
@media screen and (min-width: 2000px) {
    .title h1 {
        font-size: 4.5rem;
    }
}
.title button {
    width: 240px;
    height: 70px;
    border-radius: 50px;
    background-color: orange;
    border: none;
    font-size: 24px;
    cursor: pointer;
}
@media screen and (max-width: 1000px) {
    .title button {
        font-size: 16px;
        width: 150px;
        height: 50px;
    }
}

/* Services Layout */
.listContainer {
    flex: 5;
    max-width: 1200px;
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    margin: auto;
}
@media screen and (max-width: 1000px) {
    .listContainer {
        flex-direction: column;
    }
}
@media screen and (min-width: 2000px) {
    .listContainer {
        max-width: 1500px;
    }
}

/* Layout for Vertical Sections */
.vertical-layout {
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 100%;
    padding: 1rem 0;
}

/* First and Last Sections (each containing 2 smaller boxes) */
.first-section, .last-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 54%;
    padding-bottom:  1rem;
}

/* Middle Section (single large box) */
.middle-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 100%;
    padding: 1rem 0;
}
@media screen and (max-width: 1000px) {
    .vertical-layout, .middle-section {
        width: 100%;
        padding: 0;
    }
}

/* Individual Box Styles */
.box {
    position: relative;
    padding: 0.5rem;
    height: 100%; /* Ensures boxes fill their container's height */
    width: 100%;
    box-sizing: border-box;
}
@media screen and (max-width: 1000px) {
    .box {
        padding: 1rem;
        height: auto;
    }
    .box img {
        border-radius: 3px;
    }
}
.box:hover {
    cursor: pointer;
}
.large-box {
    height: 100%; /* Ensures the large box takes up 100% of its container's height */
}
.box img {
    max-width: 100%;
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    border-radius: 0;
}
.box-flex {
    position: absolute;
    left: 0;
    bottom: 0.5rem;
    width: 100%;
    text-align: center;
    color: #fff;
    z-index: 1;
    text-transform: uppercase;
    padding: 0.2rem 0.5rem;
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.4));
}
@media screen and (max-width: 1000px) {
    .box-flex {
        bottom: 1.25rem;
        padding: 0.5rem 0.5rem;
    }
}

.box-flex i {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.box-flex h2 {
    text-transform: uppercase;
    font-size: 1rem;
}

/* Overlay and Blurred Background */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: auto;
}

.overlay-content {
    background-color: white;
    padding: 1.5rem;
    border-radius: 10px;
    max-width: 50%;
    max-height: 90%;
    overflow-y: auto;
    position: relative;
    text-align: center; 
}
@media screen and (max-width: 1000px) {
    .overlay-content {
        max-width: 90%;
    }
}
.overlay-flex {
    display: flex;
    flex-direction: row;
}
@media screen and (max-width: 1000px) {
    .overlay-flex {
        flex-direction: column;
    }
}
.overlay-content h2 {
    margin-bottom: 1rem;
    font-size: 1.7rem;
    color: black;
}
.overlay-content ul {
    padding: 2rem;
    margin: 1rem 0;
    text-align: left;
}
@media screen and (max-width: 1000px) {
    .overlay-content ul {
        padding: 1.5rem;
    }
}
.overlay-content li {
    font-size: 1rem;
    color: #333;
    margin: 0.5rem 0;
}
.overlay-content ul ul {
    margin: 0 0 0 1rem;
    padding: 0;
}
.overlay-content button {
    padding: 0.5rem 1rem;
    background-color: orange;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 1rem;
}
.overlay-content button:hover {
    background-color: darkorange;
}
@media screen and (max-width: 1000px) {
    .overlay-content button {
        margin-top: 0rem;
    }
}
.overlay-image {
    max-width: 50%;
    width: auto;
    height: auto;
    border-radius: 8px;
    object-fit: cover; 

}
@media screen and (max-width: 1000px) {
    .overlay-image {
        max-width: 100%;
        width: 100%;
    }
}
