.contact {
    height: calc(100dvh - 10vh);
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    scroll-snap-align: start; 
  }
  
  @media (max-width: 768px) {
    .contact {
      width: 100%;
      padding: 10px;
      flex-direction: column;
    }
  }
  
  .kontakt-textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 40px;
  }
  
  @media (max-width: 768px) {
    .kontakt-textContainer {
      gap: 20px;
      text-align: center;
      align-items: center;
      margin-top: 0px;
      color: var(--white);
    }
  }
  
  .kontakt-textContainer h1 {
    font-size: 3rem;
    line-height: 88px;
    color: var(--secondaryColor);
    text-transform: uppercase;
  }
  
  @media (max-width: 768px) {
    .kontakt-textContainer h1 {
      font-size: 1.7rem;
      height: 3rem;
    }
  }
  .kontakt-textContainer a {
    text-decoration: none;
    color: white;
  }
  .kontakt-textContainer span {
    font-weight: 300;
  }
  
  .kontakt-formContainer {
    flex: 1;
    position: relative;
  }
  
  @media (max-width: 768px) {
    .kontakt-formContainer {
      padding: 0.5rem 50px;
      width: 100%;
    }
  }
  
  .kontakt-formContainer .phoneSvg {
    stroke: #ff9800;
    position: absolute;
    margin: auto;
    z-index: 3;
  }
  
  .kontakt-formContainer form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .kontakt-formContainer form input,
  .kontakt-formContainer form textarea {
    padding: 20px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
  }
  
  @media (max-width: 768px) {
    .kontakt-formContainer form input,
    .kontakt-formContainer form textarea {
      padding: 10px;
    }
  }
  
  .kontakt-formContainer form button {
    padding: 20px;
    border: none;
    background-color: orange;
    cursor: pointer;
    font-weight: 500;
    border-radius: 5px;
  }
  
  @media (max-width: 768px) {
    .kontakt-formContainer form button {
      padding: 10px;
    }
  }
  