
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--backgroundColor);
  color: black;
  
  .bg {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 70%;
    max-width: 400px;
    background-color: var(--mainColor);

    @include mobile {
      width: 200px;
    }

    .links {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;

      div {
        height: 100px;
        margin: 0;
      }
      a {
        font-size: 40px;
        text-decoration: none;
        color: var(--secondaryColor);
        font-family: var(--fontFamily-main);

        @include mobile {
          font-size: 20px;
        }
      }
    }
  }

  button {
    z-index: 999;
    position: fixed;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    position: fixed;
    top: 1.3rem;
    left: 1.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--secondaryColor);
  }
  svg {
    color: var(--secondaryColor);
  }
}
